  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="css/blog.css" rel="stylesheet" type="text/css"/>
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      

    <body>
        <header>
            <nav>
                <div class="nav-wrapper" black>
                    <a href="#" class="brand-logo">Blog</a>
                    <ul class="right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="admin.html">Admin</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">My Blog</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer" black>
            <div class="container">
                <p><a href="#">Back to the top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @2016 Jose
                </div>
            </div>
        </footer>
      <!--Import Query before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/admin.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
     <script id="login-template" type="text/x-handlebars-template">
            <div class="col s6">
          <h2 class="center-align">Login</h2>
          <div>
              <form class="col s12 form-signin">
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="email" type="email" name="email" class="validate">
                          <label for="email">Email</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="password" type="password" name="password" class="validate">
                          <label for="password">Password</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12">
                          <p class="right-align">
                              <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
    </script>
  
        <script id="welcome-template" type="text/x-handlebars-template">
        <h2>Welcome, {{email}}</h2>
        <button class="btn btn-large waves-efect waves-light add-blog">Add a new Blog</button>
        <button class="btn btn-large waves-efect waves-light logout">Logout</button>
        </script>
        <script id="add-blog-template" type="text/x-handlebars-template">
             <h2>Add a new Blog</h2>
    <div class="row">
        <form class="col s12 form-add-blog">
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" type="text" name="title">
                    <label for="title"></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="content" name="content" class="materialize-textarea"></textarea>  
                    <label for="content"></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" type="text" name="title">
                    <label for="title"></label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="right-align">
                        <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                    </p>
                </div>
            </div>
        </form>
       </div>
        </script>
        
    </body>
  </html>